

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 1rem;
    text-indent: -0.7rem;
}

ul.offen > li::before {
    content: "⬜"
}

ul.erledigt > li::before {
    content: "✅";
}
